<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Memory | 500</title>
    <link href="https://cdn.glitch.com/a520678f-69fc-419a-a86e-183f8537d353%2Fmemory.png?v=1561656247185" rel="icon" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="https://glitch.com/edit/themes/sugar.css">
    <!-- Test CSS -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://beta.mythicalbots.xyz/css/text-fonts.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
    <script src="https://mythicalbots.xyz/JS/error.js"></script>
  </head>
  <body class="error-page ghost-border">
    <div class="container">
      <div class="row text-center">
          <img class="img-fluid d-block mx-auto py-2" src="https://cdn.discordapp.com/attachments/489515885254541322/500452595530203136/tenor-2.gif" width="100%">
            <h2>
              Error Code: 500 <br/ > Try again later
            </h2>
     </div>
      
   <canvas id="stars"></canvas>
      
    </div>
  </body>
</html>